/* div.DraftEditor-root {
    
    background-color: beige;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 100%;
    width: 100%;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Petrona', serif;
}

.superFancyBlockquote {
    color:  #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
    font-size: large;
    
}

.fancyCodeBlock{
    background-color: black;
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 25px;  
}

.fancyHeaderOne {
    font-size: 50px;
}

.fancyHeaderTwo {
    font-size: 40px;
}

.fancyHeaderThree {
    font-size: 35px;
}
.fancyHeaderFour {
    font-size: 30px;
}
.fancyHeaderFive {
    font-size: 25px;
}

.fancyHeaderSix {
    font-size: 20px;
}




.wrapperClassName {
    padding: 10px;
    margin: auto;
    width: 100%;
  
}

.editorClassName {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: beige;
    padding: 20px;
    border-radius: 0 0 25px 25px;
    min-height: 400px;
}

.editorClassNameComment {
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: beige;
    padding: 20px;
    border-radius: 0 0 25px 25px;
    min-height: 250px;
}