/* div.DraftEditor-root {
    
    background-color: beige;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 100%;
    width: 100%;
} */


.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
  }

.fancyCodeBlock{
    background-color: black;
    padding: 10px;
    color: white;
    
}

.wrapperClassName {
    width: 100%;
    height: 100%;
}

.editorClassName {
    width: 100%;
    height: 100%;
    overflow-y : scroll;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: beige;
    padding: 20px;
}

